.container-post{
    display: flex;
}
.post-1{
    display: flex;
    width: 900px;
    height: 195px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
}